<a href="https://colab.research.google.com/github/jilukumar691/Credit-Card-default-Challenge-kaggle/blob/main/Credit_card_Default_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Credit card Default Analysis

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("/train.csv")

In [ ]:
df.head()

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,CST_115179,ita Bose,46,F,N,Y,0.0,107934.04,612.0,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,CST_121920,Alper Jonathan,29,M,N,Y,0.0,109862.62,2771.0,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,CST_109330,Umesh Desai,37,M,N,Y,0.0,230153.17,204.0,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,CST_128288,Rie,39,F,N,Y,0.0,122325.82,11941.0,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,CST_151355,McCool,46,M,Y,Y,0.0,387286.00,1459.0,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45528 entries, 0 to 45527
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              45528 non-null  object
 1   name                     45528 non-null  object
 2   age                      45528 non-null  int64
 3   gender                   45528 non-null  object
 4   owns_car                 44981 non-null  object
 5   owns_house               45528 non-null  object
 6   no_of_children           44754 non-null  float64
 7   net_yearly_income        45528 non-null  float64
 8   no_of_days_employed      45065 non-null  float64
 9   occupation_type          45528 non-null  object
 10  total_family_members     45445 non-null  float64
 11  migrant_worker           45441 non-null  float64
 12  yearly_debt_payments     45433 non-null  float64
 13  credit_limit             45528 non-null  float64
 14  credit_limit_used(%)     45528 non-null  int64
 15  credit_score             45520 non-null  float64
 16  prev_defaults            45528 non-null  int64
 17  default_in_last_6months  45528 non-null  int64
 18  credit_card_default      45528 non-null  int64
dtypes: float64(8), int64(5), object(6)
memory usage: 6.6+ MB

In [ ]:
df.describe()

,age,no_of_children,net_yearly_income,no_of_days_employed,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
count,45528.000000,44754.000000,4.552800e+04,45065.000000,45445.000000,45441.000000,45433.000000,4.552800e+04,45528.00000,45520.000000,45528.000000,45528.000000,45528.000000
mean,38.993411,0.420655,2.006556e+05,67609.289293,2.158081,0.179111,31796.965311,4.354842e+04,52.23502,782.791257,0.060710,0.050540,0.081203
std,9.543990,0.724097,6.690740e+05,139323.524434,0.911572,0.383450,17269.727234,1.487847e+05,29.37691,100.619746,0.264629,0.219059,0.273149
min,23.000000,0.000000,2.717061e+04,2.000000,1.000000,0.000000,2237.470000,4.003140e+03,0.00000,500.000000,0.000000,0.000000,0.000000
25%,31.000000,0.000000,1.263458e+05,936.000000,2.000000,0.000000,19231.140000,2.397381e+04,27.00000,704.000000,0.000000,0.000000,0.000000
50%,39.000000,0.000000,1.717149e+05,2224.000000,2.000000,0.000000,29081.650000,3.568804e+04,54.00000,786.000000,0.000000,0.000000,0.000000
75%,47.000000,1.000000,2.406038e+05,5817.000000,3.000000,0.000000,40561.150000,5.343576e+04,78.00000,867.000000,0.000000,0.000000,0.000000
max,55.000000,9.000000,1.407590e+08,365252.000000,10.000000,1.000000,328112.860000,3.112997e+07,99.00000,949.000000,2.000000,1.000000,1.000000

In [ ]:
df_numonly=df[['age','no_of_children','net_yearly_income','no_of_days_employed','total_family_members','migrant_worker','yearly_debt_payments','credit_limit','credit_limit_used(%)','credit_score','prev_defaults','default_in_last_6months','credit_card_default']]
df_numonly

,age,no_of_children,net_yearly_income,no_of_days_employed,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,46,0.0,107934.04,612.0,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,29,0.0,109862.62,2771.0,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,37,0.0,230153.17,204.0,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,39,0.0,122325.82,11941.0,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,46,0.0,387286.00,1459.0,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45523,55,2.0,96207.57,117.0,4.0,0.0,11229.54,29663.83,82,907.0,0,0,0
45524,31,0.0,383476.74,966.0,2.0,1.0,43369.91,139947.16,32,679.0,0,0,0
45525,27,0.0,260052.18,1420.0,2.0,0.0,22707.51,83961.83,46,727.0,0,0,0
45526,32,0.0,157363.04,2457.0,2.0,0.0,20150.10,25538.72,92,805.0,0,0,0
45527,38,1.0,316896.28,1210.0,3.0,0.0,34603.78,36630.76,26,682.0,0,0,0

In [ ]:
%matplotlib inline

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#df.hist(bins=50, figsize=(20,15)) ,#this is used for plotting histogram

## Train-Test Splitting

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_set, test_set = train_test_split(df_numonly, test_size=0.2 , random_state=42)

In [ ]:
print(f"Rows in train set: {len(train_set)} \nRows in test set: {len(test_set)} ")

Rows in train set: 36422
Rows in test set: 9106

## Stratified Shuffled Split

here i am taking both prev_defaults and default_in_last_6months as important feature for stratified shuffled split

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit
StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index,test_index in split(df_numonly, df_numonly['default_in_last_6months']):
    strat_train_set=df_numonly.loc[train_index]
    strat_test_set=df_numonly.loc[test_index]

NameError: ignored

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit
StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index,test_index in split.Split(df_numonly, df_numonly['prev_defaults']):
    strat_train_set_2=df_numonly.loc[train_index]
    strat_test_set_2=df_numonly.loc[test_index]

NameError: ignored

In [ ]:
strat_train_set.describe()

NameError: name 'strat_train_set' is not defined

In [ ]:
strat_train_set_2.describe()

NameError: ignored

In [ ]:
strat_train_set['default_in_last_6months'].value_counts()

In [ ]:
strat_train_set['prev_defaults'].value_counts()

In [ ]:
strat_test_set['default_in_last_6months'].value_counts()

In [ ]:
strat_test_set['prev_defaults'].value_counts()

In [ ]:
strat_train_set_2['default_in_last_6months'].value_counts()

In [ ]:
strat_train_set_2['prev_defaults'].value_counts()

In [ ]:
strat_test_set_2['default_in_last_6months'].value_counts()

In [ ]:
strat_test_set_2['prev_defaults'].value_counts()

changing the df_numonly to train set only

In [ ]:
df_numonly=strat_train_set_2.copy()
df_numonly.describe()

in this step i am droping the last coulmn as it is the the desired output

In [ ]:
df=strat_train_set_2.drop('credit_card_default', axis=1)
df_labels=strat_train_set_2['credit_card_default'].copy()

## Looking for Correlation through Pearson Coefficient

In [ ]:
corr_matrix= df.corr()
corr_matrix['credit_card_default'].sort_values()

credit_score              -0.543164
no_of_days_employed       -0.047043
yearly_debt_payments      -0.013089
age                       -0.000983
total_family_members       0.010754
net_yearly_income          0.011508
credit_limit               0.012250
no_of_children             0.023689
migrant_worker             0.034013
credit_limit_used(%)       0.326641
prev_defaults              0.771704
default_in_last_6months    0.776078
credit_card_default        1.000000
Name: credit_card_default, dtype: float64

In [ ]:
#from pandas.plotting import scatter_matrix
#attr=['credit_card_default','default_in_last_6months','credit_score','net_yearly_income']
#scatter_matrix(df[attr], figsize=(12,8))

In [ ]:
#df.plot(kind='scatter',x='credit_score', y='credit_card_default', alpha=0.8)

In [ ]:
#df.plot(kind='scatter',x='default_in_last_6months', y='credit_card_default', alpha=0.1)

In [ ]:
# df.plot(kind='scatter',x='prev_defaults', y='credit_card_default', alpha=0.1)

In [ ]:
# df.plot(kind='scatter',x='credit_limit_used(%)', y='credit_card_default', alpha=0.1)

In [ ]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='median')
imputer.fit(df_numonly)
x=imputer.transform(df_numonly)

In [ ]:
imputer.statistics_.shape

# #Creating a pipeline

In [ ]:
df_numonly_tr=pd.DataFrame(x, columns=df_numonly.columns)

In [ ]:
df_numonly_tr.describe()

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
my_pipeline=Pipeline([
    ('imputer',SimpleImputer(strategy='median')),
    ('std_scaler',StandardScaler())
])
df_numonly_tr= my_pipeline.fit_transform(df_numonly)
df_numonly_tr.shape

## Selecting desired model for Problem

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
model=LogisticRegression()
#model=DecisionTreeRegressor()
#model=RandomForestRegressor()
model.fit(df_numonly_tr, df_labels)

NameError: name 'df_numonly_tr' is not defined

In [ ]:
some_data=df_numonly.iloc[:5]

In [ ]:
some_labels=df_labels.iloc[:5]

In [ ]:
prepared_data=my_pipeline.transform(some_data)

In [ ]:
model.predict(prepared_data)

In [ ]:
list(some_labels)

# Evaluation of Model

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error
df_predictions=model.predict(df_numonly_tr)
mse=mean_squared_error(df_labels,df_predictions)
rmse=np.sqrt(lin_mse)

In [ ]:
mse

In [ ]:
rmse

Using Better Evaluation Technique - Cross Validation

In [ ]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, df_numonly_tr, df_labels, scoring='neg_mean_squared_error',cv=10)
rmse_scores=np.sqrt(-scores)

In [ ]:
rmse_scores

In [ ]:
def print_scores(scores):
    print('scores:',scores)
    print('mean:',scores.mean())
    print('std deviation:', scores.std())

In [ ]:
print_scores(rmse_scores)

output from different model
linear regression
mean: 6.063242317271488e-16
std deviation: 1.0323311314551969e-16
decision tree regressor
mean: 0.0
std deviation: 0.0
RandomForestRegressor
mean: 0.0
std deviation: 0.0